# Problem Number 2:

# Write a Python program that accepts a word from the user and reverse it.

# Sample Test Case

# Input : Edyoda

# output: adoydE 



# input_string = input("Enter the user input string:")

# for i in input_string:
#     i = input_string[::-1]
# print("The Code Running Sucessfully and it will print in reverse order like:",     i)





# Write a Python program to count the number of even and odd numbers from a series of numbers.

# Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 

# Expected Output :

# Number of even numbers : 4

# Number of odd numbers : 5

# sample_numbers = 1,2,3,4,5,6,7,8,9
# even_count = 0
# odd_count = 0
# sum=0
# for i  in sample_numbers:
#     if i%2==0:
#         even_count+=1
#     else:
#         odd_count+=1
# print("Number of Even Numbers is:", even_count)
# print("Number of Odd count is:", odd_count)
        
     



# Write a Python program to get the Fibonacci series between 0 to 50



# Note : The Fibonacci Sequence is the series of numbers :

# 0, 1, 1, 2, 3, 5, 8, 13, 21, ....

# Every next number is found by adding up the two numbers before it.

# Expected Output : 1 1 2 3 5 8 13 21 34


input_number = int(input("Enter the Fibonacci series range:"))       # Here im giving range of 0 to n----> 0 to 50

first_element = 0
second_element = 1
sum = 0
if input_number == first_element:
    print("Fibonacci Series starts with",   first_element)
elif input_number == second_element:
    print("Fibonacci series second element is:", second_element)
else:
    for Fibonacci_series in range(2, input_number+1):
        Fibanacci_series = first_element + second_element
        first_element = second_element
        second_element = Fibanacci_series
        if Fibanacci_series>=input_number:
            break
        print( Fibanacci_series, end = "  ")



    

   





        



























